<h1>Fund Management</h1>

<fieldset>

<ul>
			<% @funds.each do |f| %>
				<li>
					<%= link_to f.name, f %> |
					<%= link_to 'Edit', edit_fund_path(f) %> |
					<%= link_to 'Delete', f, method: :delete, data: {confirm: "Are you sure?"} %>
				</li>
			<% end %>
		</ul>
		<%= link_to 'Add a Fund ', new_fund_path %>

		<h3>Import Cash Flows</h3>
<%= form_tag import_flows_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag 'Import' %>
<% end %>

<h3>Import Valuations</h3>
<%= form_tag import_valuations_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag 'Import' %>
<% end %>

		



</fieldset>