<h1><%= @fund.name %></h1>

<% if @flows_and_valuations.present? %>
	<table style="width:60%">
		<th>
			<td>Date</td>
			<td>C/D</td>
			<td>Valuation</td>
			<td>Stock Price</td>
			<td>Number Shares</td>
		</th>

		<% @flows_and_valuations.each do |f| %>
			<tr>
				<td></td>
				<td><%= f.day %></td>
				<td><%= f. kind_of?(Flow) ? number_with_delimiter(f.cashflow, delimiter: ",", precision: 2) : "--" %></td>
				<td><%= f.kind_of?(Valuation) ? number_with_delimiter(f.value, delimiter: ",", precision: 2) : "--" %></td>
				<td><%= f.stock_price ? f.stock_price : "--"  %></td>
				<td><%= f.kind_of?(Flow) && f.total_shares ? f.total_shares : "--" %></td>
			</tr>
		<% end %>
	</table>
<% end %>